
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Styles.Render("~/Content/AdminHome.css")

@if (ViewBag.Message == "Sent")
{
    <input type="hidden" id="viewbag" value="Sent" />
}
else
{
    <input type="hidden" id="viewbag" value="" />
}

<button class="jumbotron-subs">Go to live chat</button>
<div class="users-info col-md-12">
    <div class="online-info col-md-4">
        <h3 class="info-title">Total Workshops</h3>
        <p class="info-value">@ViewBag.TotalWorkshops</p>
    </div>
    <div class="rating-info col-md-4 col-md-offset-1">
        <h3 class="info-title">Total rating</h3>
        <p class="info-value">@ViewBag.TotalRating/5</p>
    </div>
    <div>
        <div class="chart">
            <select id="chart-year">
                <option value="2019">2019</option>
                <option value="2020" selected>2020</option>
                <option value="2021">2021</option>
            </select>
            <canvas id="bar-chart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        @Scripts.Render("~/Scripts/AdminHome.js")
        <script>
            $(document).ready(function () {
                var viewbag = $("#viewbag").val();
                console.log(viewbag);
                if (viewbag == 'Sent') {
                    $.notify("Successfully sent advertisements", "success");
                }
            });
        </script>

