
@{
    ViewBag.Title = "AssignRoles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Styles.Render("~/Content/AssignRoles.css")
@if (ViewBag.Message == "Success")
{
    <input type="hidden" id="viewbag" value="Success" />
}
else
{
    <input type="hidden" id="viewbag" value="" />
}
<h3 class="form-title">Change user roles</h3>
@using (Html.BeginForm("DeleteRolesAsync", "Account", FormMethod.Post, new { style = "style=color:blue;" }))
{

    @Html.DropDownList("Users", (IEnumerable<SelectListItem>)ViewBag.Users, new { style = "height: 6vh!important; margin-right: 2vh !important" })
    @Html.DropDownList("Roles", (IEnumerable<SelectListItem>)ViewBag.Roles, new { style = "height: 6vh!important" })
    <input type="submit" value="update!" class="submit-button" />
}

<script src="~/Scripts/notify.min.js"></script>
<script>
    $(document).ready(function () {
        var viewbag = $("#viewbag").val();
        console.log(viewbag);
        if (viewbag == 'Success') {
            $.notify("Successfully updated the user role", "success");
        }
    });
</script>