@model Ballazza.Models.Workshop

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/DeleteConfirmed.css")

    <div class="confirmation-section">
        <h3 class="confirmation-warning">Are you sure you want to permanently delete this item with the id @Html.DisplayFor(model => model.WorkshopId)?</h3>
        <p>*please note that you cannot retrieve the data after it has been deleted*</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="confirmation-set form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary delete-button"/>
                <a href="/Workshops/AdminIndex" class="btn btn-primary back-button">Back</a>
            </div>
        }
    </div>
