body {
    background: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('./img/Melcent.jpg') no-repeat fixed center !important;
    background-size: cover;
}

#form1 {
    background: #fff !important;
    width: 133%;
    margin-left: auto;
    margin-right: auto;
    height: 95vh;
    border-radius: 10px;
    padding: 10vh 0;
    margin-top: 8vh;
    color: #000;
    margin-bottom: 5vh;
}


table {
    width: 75%;
    margin: auto;
    vertical-align: central;
    border-collapse: separate;
    border-spacing: 2vh;
}

.text {
    width: 100% !important;
    border-width: 1px;
    border-color: #cccccc;
    background-color: #f5f5f5;
    border-radius: 5px;
}

    .text::-webkit-input-placeholder {
        opacity: .5;
    }

    .subject {
        height: 5vh;
    }

.form-title {
    text-align: center;
    font-size: 2.2rem;
    color: #521e19;
}

.submit-button {
    display: block;
    width: 95%;
    margin: auto;
    height: 6vh;
    border-radius: 20px;
    border: none;
    transition: all .2s;
    background-color: darkred;
    color: #fff;
    font-weight: 700;
    margin-top: 3vh;
}

    .submit-button:hover {
        background-color: #521e19;
        color: #fff;
        transform: scale(.99);
    }

@media screen and (min-width: 480px) {
    #form1 {
        width: 90%;
    }

    .table {
        width: 95%;
    }
}

@media screen and (min-width: 768px) {
    #form1 {
        margin-top: 35vh;
    }
}

@media screen and (min-width: 1200px) {
    #form1 {
        width: 50%;
        margin-top: 8vh;
    }
}