body {
    background-color: #e3e0d8;
    background-size: cover !important;
}

#workshop-table_wrapper {
    margin-top: 12vh !important;
}
#workshop-table {
}
    #workshop-table thead {
        background-color: #6b5545;
        color: #fff;
        margin-top: 5vh !important;
    }

        #workshop-table thead th {
            height: 7vh !important;
            font-size: 1.8rem !important;
        }

    #workshop-table tbody tr {
        height: 6vh !important;
    }


