body {
    background: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('./img/basketball-court-background.jpg') no-repeat fixed center;
    background-size: cover;
}

.login-form {
    margin-top: 7vh;
    text-align: center;
    color: #000;
    height: 75vh;
    background-color: #fff;
    opacity: .93;
    border-radius: 20px;
}


.login-button {
    width: 80%;
    background: #4a3929;
    height: 5vh;
    color: #fff;
    font-weight: 700;
    margin-top: 3vh;
    transition: all .2s !important;
}

.login-title {
    padding-top: 4vh;
    font-size: 3rem;
    border: none;
    font-weight: 700;
}

.login-subtitle {
    font-size: 1.4rem;
}

.register-message {
    margin-right: 1rem;
}

.field-validation-error {
    font-size: .9rem;
}

#socialLoginList {
    margin-top: 2vh;
}

#socialLoginList button {
   width: 100%;
   margin-top: 2vh;
   height: 6vh;
   color: #fff;
}

    #socialLoginList button:nth-of-type(2) {
        background: #3B5998;
        border: none;
    }

    #socialLoginList button:nth-of-type(1) {
        background: #bb3222;
        border: none;
    }
/* 
    animation and pseudoselectors
*/
    .login-button:hover {
        background-color: #d9d7d7 !important;
        color: #000 !important;
    }

