body {
    color: #fff;
    background-color: #1c222b;
}

.reset-title {
    margin-bottom: 5vh !important;
}

.reset-form {
    padding-left: 1.5rem !important;
    margin-top: 25vh !important;
}

.reset-title {
    font-weight: bold;
}

.login-button {
    border: none !important;
    display: block !important;
    background-color: #C93131 !important;
    color: #fff !important;
    font-weight: bold !important;
    width: 15% !important;
    border-radius: 20px;
    height: 4vh;
    text-align: center;
    padding-top: .7vh;
    transition: all .3s;
}

.save-button {
    border: none;
    display: block;
    background-color: #C93131;
    color: #fff;
    font-weight: bold;
    width: 30%;
    border-radius: 20px;
    height: 4vh;
    transition: all .3s;
}

    .save-button:hover,
    .login-button:hover {
        background-color: #d9d7d7 !important;
        color: #000 !important;
        text-decoration: none;
    }
