body {
    background: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('./img/henry-perks-BJXAxQ1L7dI-unsplash.jpg') no-repeat fixed center;
    background-size: cover;
    color: #000;
}

#map {
    width: 90vw; 
    height: 60vh;
    margin-bottom: 5vh;
}

.title {
    margin-top: 8vh;
    margin-bottom: 3vh;
}

    .title h2 {
        font-size: 2.5rem;
        color: #fff;
    }

#menu {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

#fly {
    display: block;
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background-color: #8a3b19;
    margin-bottom: 3vh;
    transition: all .3s;
}

    #fly:hover {
        background-color: #542410;
    }

.notes {
    background-color: #fff;
    height: 45vh;
    padding-top: 3vh;
    margin-bottom: 3vh;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
}

.notes-title {
    color: #803120;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .notes {
        height: 30vh;
    }
    .title {
        margin-top: 35vh;
    }
    #fly {
        width: 30%;
    }
}

@media (min-width: 1024px) {
    .notes {
        height: 21vh;
    }
    #fly {
        width: 20%;
    }
    #map {
        width: 70vw;
        height: 70vh;
    }
}